body{ 
	background: url("../img/subtle.png");
	font-family: 'Lato' sans-serif;
	
	
}
/* Navigation*/ 

a{
	margin-left:1%;
	font-size: 1em;
    color:#0E147F; 
    text-decoration: none;
}
img{
	width:18em;
	padding:2em;
	float:left;
}
/*containter*/ 

h1{
	margin-left:1%;
	color:#042658;
}

h3{
	margin-left:1%;
	font-size: 1.17em;
	color: #0267A7 
}

p{
	width:50%;
}

article, footer{
	margin-left:1%;
	padding:1em;
	text-align: left;
}

footer{
	border-top: 2px solid #0267A7;
}

.fix{
	margin-left:10%;
}